CalcClient/src/META-INF/wsdl/localhost_8080/WebCl/WebCl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://akr.webcl.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://akr.webcl.ru/" name="WebCl">
<types>
<xsd:schema>
<xsd:import namespace="http://akr.webcl.ru/" schemaLocation="http://localhost:8080/WebCl/WebCl?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="mul">
<part name="parameters" element="tns:mul"/>
</message>
<message name="mulResponse">
<part name="parameters" element="tns:mulResponse"/>
</message>
<message name="sub">
<part name="parameters" element="tns:sub"/>
</message>
<message name="subResponse">
<part name="parameters" element="tns:subResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<message name="operation">
<part name="parameters" element="tns:operation"/>
</message>
<message name="operationResponse">
<part name="parameters" element="tns:operationResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<portType name="WebCl">
<operation name="add">
<input wsam:Action="http://akr.webcl.ru/WebCl/addRequest" message="tns:add"/>
<output wsam:Action="http://akr.webcl.ru/WebCl/addResponse" message="tns:addResponse"/>
</operation>
<operation name="mul">
<input wsam:Action="http://akr.webcl.ru/WebCl/mulRequest" message="tns:mul"/>
<output wsam:Action="http://akr.webcl.ru/WebCl/mulResponse" message="tns:mulResponse"/>
</operation>
<operation name="sub">
<input wsam:Action="http://akr.webcl.ru/WebCl/subRequest" message="tns:sub"/>
<output wsam:Action="http://akr.webcl.ru/WebCl/subResponse" message="tns:subResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://akr.webcl.ru/WebCl/divRequest" message="tns:div"/>
<output wsam:Action="http://akr.webcl.ru/WebCl/divResponse" message="tns:divResponse"/>
</operation>
<operation name="operation">
<input wsam:Action="http://akr.webcl.ru/WebCl/operationRequest" message="tns:operation"/>
<output wsam:Action="http://akr.webcl.ru/WebCl/operationResponse" message="tns:operationResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://akr.webcl.ru/WebCl/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://akr.webcl.ru/WebCl/getUserResponse" message="tns:getUserResponse"/>
</operation>
</portType>
<binding name="WebClPortBinding" type="tns:WebCl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebCl">
<port name="WebClPort" binding="tns:WebClPortBinding">
<soap:address location="http://localhost:8080/WebCl/WebCl"/>
</port>
</service>
</definitions>